# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
project/

# Model outputs (if you want to exclude them)
*.pt
*.pth
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store

#data files
data/
checkpoints/

# cache files
__pycache__/
*.pyc